{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 32.52785969013955,
        "longitude": -117.10652232170106,
        "elevation": 0,
        "unit_system": "imperial",
        "location_name": "Home",
        "time_zone": "America/Tijuana",
        "external_url": "https://tu203d.duckdns.org",
        "internal_url": "https://homeassistant.local:8123",
        "currency": "MXN"
    }
}